@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.landing-page {
  width: 100%;
}

.roll-nav {
  width: 100%;
  padding: 1.5rem 1rem;
  /* background: #91c397; */
  /* background: #e7d165; */
}
.roll-navContainer {
  display: flex;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.roll-links {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
}
.roll-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.roll-link:hover .dot {
  opacity: 1;
}
.roll-link a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.dot {
  width: 10px;
  min-height: 10px;
  background-color: #e7d165;
  border-radius: 50%;
  opacity: 0;
  transition: all ease-in 0.3s;
}
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("./assets/driver.jpg");
  height: 650px;
  width: 100%;
  background-size: cover;
  background-position: top center;
}

.hero-bigText {
  font-size: clamp(2.1875rem, 1.3355rem + 3.8947vw, 4rem);
  font-weight: 700;
  color: #fff;
  width: 100%;
  max-width: 700px;
}

.hero-container {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  /* align-items: flex-start; */
  justify-content: center;
  height: 100%;
}
.hero-text {
  /* padding-top: 5rem; */
  display: flex;
  gap: 1.3rem;
  flex-direction: column;
  padding: 1rem;
}
.hero-p {
  color: #fff;
  font-size: clamp(1rem, 0.9079rem + 0.4211vw, 1.15rem);
  line-height: 32px;
  width: 100%;
  max-width: 650px;
  text-align: justify;
}

.hero-btn button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  color: #fff;
  background: #ffc20e;
  margin-left: 15px;
}

.partner-section {
  width: 100%;
  /* height: 600px; */
  margin: 4rem 0;
}
.partner-container {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partner-header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
}
.partner-header h3,
.service-header,
.download-bigText {
  font-size: clamp(1.1875rem, 0.7961rem + 1.7895vw, 2.95rem);
  font-weight: 700;
}
.partner-lists h3 {
  font-size: clamp(1.1875rem, 0.7961rem + 1.7895vw, 2.25rem);
}
.partner-header p {
  font-size: clamp(1.0625rem, 0.9934rem + 0.3158vw, 1.25rem);
  line-height: 32px;
}

.partner-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}

.partner-img {
  width: 100%;
  max-width: 650px;
  height: 500px;
  object-fit: cover;
  border-radius: 19px;
}
.partner-lists {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.partner-list {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}
.no,
.nob {
  height: 30px;
  min-width: 30px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffc20e;
  color: #fff;
}
.item h4 {
  font-size: clamp(1.125rem, 0.8947rem + 1.0526vw, 1.35rem);
  font-weight: 600;
}
.item p {
  color: #7177a5;
  line-height: 32px;
  font-size: 18px;
}

.learn-more-btn {
  padding-left: 4rem;
}
.learn-more-btn button {
  padding: 0.85rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  color: #000;
  background: #f5f6f7;
}

.learn-more-btn button:hover {
  background: #e7d165;
  cursor: pointer;
}

.banner {
  width: 100%;
  height: 150px;
  background: #f5f6f7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.banner-container {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}
.banner-text {
  font-size: clamp(0.9375rem, 0.8684rem + 0.3158vw, 1.125rem);
}
.banner-special {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.banner-special h2 {
  font-size: clamp(1.25rem, 0.9046rem + 1.5789vw, 2.5875rem);
  font-weight: 700;
}

.banner-special p {
  font-size: clamp(0.9375rem, 0.8684rem + 0.3158vw, 1.125rem);
}

.service {
  margin-bottom: 4rem;
  width: 100%;
}

.service-header {
  text-align: center;
}
.service-container {
  display: flex;
  width: 95%;
  max-width: 1300px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3.5rem auto;
  gap: 2rem;
}
.service-card {
  width: 350px;
  height: 210px;
  background: #f5f6f7;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px;
  padding: 1rem;
  position: relative;
  transition: all ease-in-out 0.5s;
}
.service-card:hover {
  color: #fff;
  background-color: #f0db74;
  cursor: pointer;
}
.service-card h5 {
  font-size: clamp(1.125rem, 0.9868rem + 0.6316vw, 1.5rem);
}

.ride {
  width: 120px;
  position: absolute;
  right: 10px;
}

.download {
  width: 100%;
  margin: 4rem 0;
}

.download-container {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.download-banner {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background: #f0db74;
  border-radius: 25px;
  padding: 2rem;
  position: relative;
  min-height: 600px;
  width: 100%;
}
.dwn-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
}
.dwn-btns button {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  color: #000;
  background: #f5f6f7;
}
.dwn-btns button:hover {
  background: #e7d165;
  cursor: pointer;
}

.dwn-img {
  width: 100%;
  max-width: 400px;
  position: absolute;
  bottom: 0;
  right: 5%;
}
.download-left h2 {
  width: 100%;
  max-width: 500px;
  color: #fff;
}
.download-left p {
  color: #fff;
  width: 100%;
  max-width: 500px;
}
